.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__body {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    border-radius: $general-border-radius;
    margin: auto auto;

    .input {
      width: 100%;
      margin-bottom: 1rem;
    }

    .btn {
      margin-top: 2rem;
    }
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
  }
}

:focus-visible {
  outline: none;
}
