$general-black: #777c83;
$blue-light: #80cee8;
$blue: #5ab9ea;
$blue-light-hover: #93d6e8ff;
$general-border-radius: 24px;
$purplish-blue: #8860d0;
$cornflower-blue: #5680e9;
$background-color: #f7f7fc;
